.encabezadoTabla{background-color: magenta; border-radius: 10px; border-style: solid; width: 100px; text-align: center; font-weight: bold;}
.TIC{background-color:#b55b15;border-radius: 10px; border-style: solid;}
.Filosofía{background-color:#ffe800;border-radius: 10px; border-style: solid;}
.Lengua{background-color:#0093ff;border-radius: 10px; border-style: solid;}
.Arte{background-color:#ff0000;border-radius: 10px; border-style: solid;}
.España{background-color:#ff00aa;border-radius: 10px; border-style: solid;}
.Latín{background-color:#6c6b6c;border-radius: 10px; border-style: solid;}
.Griego{background-color:#cba300;border-radius: 10px; border-style: solid;}
.Inglés{background-color:#80ff00;border-radius: 10px; border-style: solid;}
.Religión{background-color:#a600ff;border-radius: 10px; border-style: solid;}
.Francés{background-color:#0042ff;border-radius: 10px; border-style: solid;
.Recreo{background-color:"red"}
